.homepage{
    display: flex;
justify-content: space-between;
}
.questions{
    position: relative;
    left: 300px;
}
.answers{
    position: relative;
    left: 300px;
}
.place-delete{
    display: flex;
    justify-content: space-between;
}