.question-btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    transition: .2s;
}
.question-btn:hover{
    transform: scale(1.05);
}
.settings-btn{
    border: none;
}
.modal-title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
  }
  
  .modal-title > h5 {
    color: gray;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 30px;
  }
  
  .modal-title > h5:hover {
    color: #b92b27;
  }
  
  .modal-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .modal-info > p {
    margin-left: 10px;
    font-size: small;
    color: gray;
  }
  
  .modal-info > .modal-scope {
    display: flex;
    align-items: center;
    color: rgb(98, 98, 98);
    padding: 5px;
    margin-left: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 33px;
    cursor: pointer;
  }
  
  .modal-field {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex: 1;
  }
  
  .modal-field > .modal__fieldLink {
    color: gray;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  .modal-field > .modal__fieldLink > input {
    flex: 1;
    border: none;
    outline: none;
    margin-left: 5px;
  }
  
  .modal-buttons {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    align-items: center;
  }
  
  .modal-buttons > .cancel {
    margin-top: 10px;
    border: none;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    border-radius: 33px;
    cursor: pointer;
  }
  
  .modal-buttons > .cancel:hover {
    color: red;
  }
  
  .modal-buttons > .add {
    border: none;
    outline: none;
    margin-top: 10px;
    background-color: #222;
    color: white;
    font-weight: 700;
    padding: 10px;
    border-radius: 33px;
    cursor: pointer;
    width: 50%;
  }
  
  .modal-buttons > .add:hover {
    background-color: #eee;
    color: #222;
  }
  .custom-modal {
    width: 50%;
    height: 75%;
  }
  
  @media only screen and (max-width: 600px) {
    .qHeader-icons {
      display: none;
    }
  
    .qHeader-input {
      display: none;
    }
  }